<nav>
    <ul>
        <li class="Website Mahesa">
            <a href="#"> 
            Website
            </a>
        </li>
    <ul>
        <li class="home">
            <a href="/"> 
            Home
            </a>
        </li>
        <li class="gallery">
            <a href="#"> 
            Gallery
            </a>
        </li>
        <li class="me">
            <a href="/tentang/14116071">
            About
            </a>
        </li>
    </ul>
</nav>

{# <ul>
    <li>
        <div class="capsule"></div>
    </li>
    <li>
        <div class="capsule"></div>
    </li>
    <li>
        <div class="capsule"></div>
    </li>
</ul> #}