<nav>
    <ul>
        <li class="home">
            <a href="/"> 
            Home
            </a>
        </li>
        <li class="me">
            <a href="/tentang/14116071">
            About
            </a>
        </li>
    </ul>
</nav>