---
layout : tataletak.njk
namaku : Mahesa Darma Satria
nim : 14116071
ttl : 24 Agustus 1998
---


<body>
<div class="col-3">
    <ul>
    <div class="cell">
    <img  src="/assets/img/mahesa.jpg"></div>
    </ul>
</div>
<div class="col-7">
    <ul>
    <h3> Nama : &nbsp;{{namaku}} </h3>
    <h3> NIM &nbsp;&nbsp;: &nbsp;{{nim}} </h3>
    <h3> TTL &nbsp;&nbsp;&nbsp;: &nbsp;{{ttl}} </h3>
    <h2> Tentang Saya </h2>
    <p> Saya adalah Mahasiswa tingkat akhir di Institut Teknologi Sumatera. 
    Saya masuk ITERA tahun 2016 dan lulus tahun 2020 aamiin insyaallah.
    Saya lahir di metro lampung, saya terlahir sebagai anak pertama. </p>
</div>
</tr>
</body>
