---
layout : tataletak.njk
namaku : Mahesa Darma Satria
nim : 14116071
ttl : 24 Agustus 1998
---


<body>
<div class="col-3">
    <ul>
    <div class="cell">
    <img alt="foto mahesa" src="/assets/img/mahesa.jpg" width="100%"></div>
    <h4> Nama Saya,</h4>
    <h1> {{namaku}} </h1>
    <h3> {{nim}} </h3>
    <h2> {{ttl}} </h2>
    </ul>
</div>
<div class="col-7">
    <ul>
    <h2> Tentang Saya </h2>
    <p> Saya adalah Mahasiswa tingkat akhir di Institut Teknologi Sumatera. Saya masuk ITERA tahun 2016 dan lulus tahun 2020 aamiin insyaallah. </p>
    <h2> Keahlian </h2>
    <li>Corel Draw </li>
    <li>Photoshop </li>
    <h3> {{namaku}} </h3>
    <p> Web Dev | Backend </p>
    <h2> :D :D </h2>
    </ul>
</div>
</body>
